POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

REDIS_PORT=

BACKEND_PORT=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=

JWT_SECRET=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINS=
REFRESH_TOKEN_EXPIRE_DAYS=

TOKEN_ENCRYPTION_KEY=